<?xml version="1.0"?>
<configuration>

  <appSettings> 
    <!-- Default Gravatar uses the default Gravatar settings here http://en.gravatar.com/site/implement/images/ . 404 is not supported yet. options include mm,identicon,monsterid,wavatar,retro,blank -->
    <add key="DefaultGravatar" value="mm"/>
    <!-- OUFilter is the filter used to search for accounts to update with Photos if you want to constrain to a single OU.  Leave blank to apply to all OUs"-->
    <add key="OUFilter" value=""/>
  </appSettings>
</configuration>
